<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        New Post
        <small>Posts</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">New post</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Add post</h3>
            </div>
            <div class="box-body">
              <!-- text input -->
              <!--                <div class="form-group">-->
              <!--                  <label>Text</label>-->
              <!--                  <input type="text" class="form-control" placeholder="Enter ...">-->
              <!--                </div>-->

              <!-- select -->
              <label>Company</label>
              <select class="form-control" [(ngModel)]="selectedCompany">
                <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
              </select>

              <br>
              <label>Category</label>
              <select class="form-control" [(ngModel)]="selectedCategory">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
              </select>

              <br>
              <label>Select Images</label>
              <!--                  <select *ngFor="let category of categories" class="form-control">-->
              <!--                    <option>option 1</option>-->
              <!--                  </select>-->
              <img *ngFor='let url of urls' [src]="url" height="200"> <br/>
              <input type="file" (change)="onSelectFile($event)" placeholder="Upload files" accept=".jpg,.png"
                     multiple>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="upload()">Post</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
